{% extends 'base.html' %}

{% block content %}

{% include 'carousel.html' %}

<h1>Detergent Laundry</h1>

<section>
    <div class="text-center">
      <div class="row">
        
        {% for pItem in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="{{ pItem.gambar.url }}"
                class="w-100" />
              <a href="{{ pItem.get_absolute_url }}"> 
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-{{ pItem.get_label_display }} ms-2">{{ pItem.label }}</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="{{ pItem.get_absolute_url }}" class="text-reset">
                <h5 class="card-title mb-2">{{ pItem.nama_produk }}</h5>
              </a>
              <a href="" class="text-reset ">
                <p>{{ pItem.get_kategori_display }}</p>
              </a>
              <h6 class="mb-3 price">Rp{% if pItem.harga_diskon %}{{ pItem.harga_diskon }}{% else %}{{ pItem.harga }}{% endif %}</h6>
            </div>
          </div>
        </div>
        {% empty %}
          <p>Data Produk belum tersedia</p>
        {% endfor %}

      </div>
    </div>
  </section>


{% endblock content %}